body {
  background: url('../image/background.png') no-repeat;
  margin-top: 2px;
  margin: 30px 0px 30px 50px;

}

.photo {
  width: 59%;

  height: 2%;
  position: relative;


}

.img-fluid {
  width: 2dvh;
  height: 22dvh;

}

.card-body {
  font-size: 10px;
  text-align: center;

}

button {
  font-size: 12px;
  border-radius: 10px;
}

.btn-primary {
  background-color: rgb(180, 164, 141);
  width: 100px;
}

.card {
  width: 20rem;
  margin: auto;
  border-radius: 18px;
  margin-right: 80px;
  background-color: rgb(235, 232, 229);
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  
  padding: 10px;
  -webkit-box-shadow: 5px -1px 32px 0px rgba(34, 60, 80, 0.53) inset;
  -moz-box-shadow: 5px -1px 32px 0px rgba(34, 60, 80, 0.53) inset;
  box-shadow: 5px -1px 32px 0px rgba(34, 60, 80, 0.53) inset;

}

.card::before {

  position: absolute;
  top: -50px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  

}

.cardAvatar {
  width: 90px;
  height: 3%;

}

.medphoto {
  width: 150px;

}