.medphoto {
  width: 29%;
  height: 2%;
  position: relative;
}
canvas {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

container {
  display: flex;
  justify-content: center;
  align-items:baseline;
  height: 20px;
  background-color: #f5f5f5;
}

form {
  max-width: 900px;
  margin:  0 auto ;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
   margin-top: 0px;
   text-align: left;
  font-family: Arial, sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: -50px 20px 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}

form label {
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

form button:hover {
  background-color: #0062cc;
}
h4{
  
  text-align: center;
   margin: 10px 40px 100px 40px;
 
}
