.medphoto {
  width: 29%;
  height: 2%;
  position: relative;
 

}

.bmi-calculator {
  border-radius: 8px;
  background-color: #e0e0e0;
  padding: 28px;
  width: 300px;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff;
  margin-top: 20px;
 


}

h1 {
  margin: 0 0 10px 0;
  text-align: center;
}

.input {
  margin: 10px 0;
}

.input input {
  border: 1px solid#ccc;
  border-radius: 3px;
  height: 20px;
}

.input input:focus {
  outline: none;
}

.calculate {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 2px;
  background-color: #e4c495;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff;
}

.bmi-status {
  position: absolute;
  top: 0;
  right: 0;
}


.bmi-status div {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  font-weight: normal;
  margin-right: 70px;
  margin-top: 4px;
}

.Underweight {
  background-color: #ee7647;
}

.Normal {
  background-color: #52e052;
}

.Overweight {
  background-color: #3ec4ce;
}

.Obese {
  background-color: #d44b4b;
}

.Underweight,
.Normal,
.Overweight,
.Obese {
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
}

.people {
  width: 450px;
  height: 300px;
  margin: 30px 0px 30px;
 

}