/* .container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.out{
  
  color: rgb(143, 87, 18);
  text-align: center;

}
.text-center{
  text-align: center;
  color: rgb(75, 49, 15);
  
}



p {
  margin-top: 50px;
} */
/* 

h1{
  text-align: center;

}
.navbar ul{
  list-style-type: none;


  overflow: hidden;
}

.navbar a{

  text-decoration: none;
  padding: 15px;
  display: block;
  
  text-align: center;
  
}
.navbar a:hover{
background-color: hsl(0, 5%, 61%);
  
}
.navbar li{
  float: left;
}
main{
  margin-left:  20px;
  margin-right: 20px;
} */

h1 {
  text-align: center;
  color: rgb(173, 158, 139);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.card {

  box-shadow: 6px 7px 25px -6px rgba(34, 50, 80, 0.28);
  background-color: rgb(255, 255, 255)
}

h5 {

  box-shadow: 6px 7px 25px -10px rgba(14, 60, 80, 0.28);
  border-radius: 3px;
}

a {
  margin: 4vh;
}

#fuelPrice {

  font-size: 9px;
  display: inline-block;

}

#fuelType {
  position: fixed;
  display: inline-block;
  font-size: 9.9px;
  padding: 3.2px;
  margin: 1px 100px 100px;

}

.rez {
  display: block;
  margin-bottom: 10px;
  /* margin: 80px 2px; */
}

.btn {
  display: block;
  margin: 50px;

  box-shadow: 6px 7px 75px -10px rgba(14, 60, 80, 0.28);
}

#result {
  color: rebeccapurple;
}

#fuelPrices {
  display: block;
  flex-direction: row;
  color: brown;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 6px 7px 75px -10px rgba(14, 60, 80, 0.28);
}

img {
  padding: 5px;
  margin-left: -1px;
  position: relative;
  width: -1px;

}