* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.medphoto {
  width: 29%;
  height: 2%;
  position: relative;
}
form {
  max-width: 600px;
  margin:  0 auto ;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
   margin-top: -50px;
   text-align: left;
   
  
  font-family: Arial, sans-serif;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label > span {
  margin-right: 10px;
}

input[type="number"] {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
}

input[type="button"]:hover {
  background-color: #ffffff;
}

span {
  font-weight: bold;
  font-size: 18px;
}
img {
  max-width: 100%;
  height: auto;
 
}




