.medphoto {
  width: 29%;
  height: 2%;
  position: relative;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding:0;
}



container {
  display: block;
  flex-direction: inherit;
  align-items: center;
  margin-top: 20px;
 

}

h1 {
  text-align: center;
  margin-top: -10px;
  font-size: 31px;
  margin: 3%;
}

form {
  max-width: 300px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-top: 1px;
  text-align: left;
  /* display: flex; */
  flex-direction: row;

  /* align-items: center;
  margin-top: 10px;  */
}

label {
  margin-top: 20px;
  font-size: 20px;
}

input[type="number"] {
  width: 76%;
  height: 0px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #3e8e41;
}

.result {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;


}
